<nz-layout class="layout">
  <nz-header>


    <div nz-row>
      <div nz-col [nzSpan]="24">
        <form nz-form>
          <nz-form-item>
            <nz-form-label [nzSpan]="2" nzFor="termine" style="color: white;">Ricerca per termine</nz-form-label>
            <nz-form-control [nzSpan]="4">
              <input nz-input id="termine" name="termine" type="text" [(ngModel)]="termine" (input)="ricerca()">
            </nz-form-control>
          </nz-form-item >
        </form>

      </div>
    </div>

  </nz-header>
  <nz-content>
    <div class="inner-content">
      <app-ricerca-immagini-risultato #ricercaImmaginiRisultatoComponent></app-ricerca-immagini-risultato>
    </div>
  </nz-content>
  <nz-footer>Show Images ©2021 by Stefano Greco</nz-footer>
</nz-layout>
